@{
    ViewBag.Title = "Home Page";
}

<div id="videoTableOutput"></div>

<button id="createVideo">Create Video</button>

<div id="videoEditOutput"></div>

<script id="videoTable" type="text/html">
    <table>
        <thead>
            <tr data-id="{{Id}}">
                <th>
                    Title
                </th>
                <th>
                    Length
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each video}}
            <tr data-id="{{Id}}">
                <td>{{Title}}</td>
                <td>{{Length}}</td>
                <td>
                    <button class="editVideo">Edit</button>
                    <button class="deleteVideo">delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<script id="videoEdit" type="text/html">
    <hr />
    <form>
        <input type="hidden" name="id" id="id" value="{{Id}}" />
        <label for="title">Title:</label>
        <input type="text" name="Title" id="title" required value="{{Title}}" />
        <label for="length">Length:</label>
        <input type="number" name="Length" min="0" max="200" id="length" value="{{Length}}" />
        <input type="submit" id="saveVideo" />
    </form>
</script>

@section scripts{

    <script src="~/Scripts/handlebars.js"></script>

    <script>
        var videoServer = (function () {
            var videoApiUrl = '@Url.RouteUrl("DefaultApi", new { httproute="", controller = "videos"})';

            $(document).ajaxError(function (event, xhr) {
                alert(xhr.status + ":" + xhr.statusText);
            });

            var getVideos = function () {
                return $.ajax(videoApiUrl);
            };

            var getVideo = function (id) {
                return $.ajax(videoApiUrl + "/" + id);
            }

            var updateVideo = function (video) {
                return $.ajax(videoApiUrl + "/" + video.Id, {
                    type: "PUT",
                    data: video
                });
            };

            var addVideo = function (video) {
                return $.ajax(videoApiUrl, {
                    type: "POST",
                    data: video
                });
            }

            return {
                addVideo: addVideo,
                updateVideo: updateVideo,
                getVideos: getVideos,
                getVideo: getVideo
            };

        }());

        (function () {
            var templates = {};
            
            var compileTemplates = function () {
                templates.videoTable = Handlebars.compile($('#videoTable').html());
                templates.videoEdit = Handlebars.compile($('#videoEdit').html());
            };

            var showAllVideos = function (data) {
                var output = templates.videoTable({ video: data });
                $('#videoTableOutput').html(output);
            };

            var showVideoForEdit = function (video) {
                var output = templates.videoEdit(video);
                $("#videoEditOutput").html(output);
            }

            var refreshVideos = function () {
                videoServer.getVideos().done(showAllVideos);
            };

            var editVideo = function () {
                var id = getId(this);
                videoServer.getVideo(id).done(showVideoForEdit);
            };

            var createVideo = function () {
                var video = { Id: 0, Title: "", Length: 0 };
                showVideoForEdit(video);
            }

            var clearEdit = function () {
                $("#videoEditOutput").empty();
            };

            var saveVideo = function () {
                var video = {
                    "Id": $("#id").val(),
                    "Title": $("#title").val(),
                    "Length": $("#length").val()
                };

                if (video.Id != "0") {
                    operation = videoServer.updateVideo(video)
                }
                else {
                    operation = videoServer.addVideo(video);
                }
                operation.done(refreshVideos, clearEdit);
                return false;
            }

            var wireEvents = function () {
                $(document).on('click', ".editVideo", editVideo);
                $(document).on('click', "#saveVideo", saveVideo);
                $(document).on('click', "#createVideo", createVideo);
            };

            var getId = function (element) {
                return $(element).parents("tr").attr("data-id");
            };

            $(function () {
                wireEvents();
                compileTemplates();
                refreshVideos();
            });
        }());

    </script>
}