@{
    ViewBag.Title = "Home Page";
}

<div id="videoTableOutput"></div>

<script id="videoTable" type="text/html">
    <table>
        <thead>
            <tr data-id="{{Id}}">
                <th>
                    Title
                </th>
                <th>
                    Length
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each video}}
            <tr data-id="{{Id}}">
                <td>{{Title}}</td>
                <td>{{Length}}</td>
                <td>
                    <button class="editVideo">Edit</button>
                    <button class="deleteVideo">delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

@section scripts{

    <script src="~/Scripts/handlebars.js"></script>

    <script>
        var videoServer = (function () {
            var videoApiUrl = '@Url.RouteUrl("DefaultApi", new { httproute="", controller = "videos"})';

            $(document).ajaxError(function (event, xhr) {
                alert(xhr.status + ":" + xhr.statusText);
            });

            var getVideos = function () {
                return $.ajax(videoApiUrl);
            };

            return {
                getVideos: getVideos,
            };

        }());

        (function () {
            var templates = {};
            
            var compileTemplates = function () {
                templates.videoTable = Handlebars.compile($('#videoTable').html());
            };

            var showAllVideos = function (data) {
                var output = templates.videoTable({ video: data });
                $('#videoTableOutput').html(output);
            };

            var refreshVideos = function () {
                videoServer.getVideos().done(showAllVideos);
            };

            $(function () {
                compileTemplates();
                refreshVideos();
            });
        }());

    </script>
}